<div class="header">
	<ul class="nav nav-pills pull-right">
	</ul>
</div>

<div class="panel panel-default">
	<div class="panel-body">
		<div class="col-sm-5"></div>
	</div>
</div>

<link rel="stylesheet" href="bower_components/ngDialog/css/ngDialog.css">
<link rel="stylesheet" href="bower_components/ngDialog/css/ngDialog-theme-default.css">

<style>

.ngdialog-content {
  background: white;
  -webkit-backface-visibility: hidden;
  -webkit-animation: ngdialog-fadein 0.5s;
  animation: ngdialog-fadein 0.5s;
  width:70%; 
  width:70%; 
  margin-left:auto;
  margin-right:auto;
}

</style>

<div align="center">
	<h2>Search for the Artist</h2>

	<div ng-controller="MainCtrl">
		<button class="btn btn-primary" type="button" ng-click="openTemplate()">Search for artist</button>
	</div>
	
</div>

<div>
 <br>
	<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
</div>


<div class="footer">
	<p>It took 3 hours.</p>
</div>
